
/*Home page*/
h1,h2,h3,h4,h5,h6 {
	font-family:  "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}
p{
	font-family:  "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}
.intro-header {
	background: url(../images/Home/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	
}
.intro-message{
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
}
.intro-message > h1{
	color: #34495e;
	text-shadow: 1px 1px 2px #fff;
	font-size: 3em;
}

/*Other pages*/

/*#middlejumbotron{

	background-image: url(bus2.jpg);
	height: 460px;
}

#middlejumbotronDetails{

	background-image: url(bus_header.jpg);
}

#jumbotroncustomerDetails{

	background-image: url(bus_header.jpg);

}

#booking_details{

	color: black;
}
#Personal_details{
	color: black;
}
#detailsform{

	padding-top: 10px;
	border-color: #ffffff;
}



#bottomjumbotron{

	height: 63px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-image: url(bus_header.jpg);
	color: black;


}
#fare-summary{

	font-size: 15px;
	font-weight: bold;

}
#admin_notification{

	margin-bottom: 5px;
	color: black;
}

#admin_table{
	border: 2px solid black;

}

#bus_seats_layout{

	width: 650px;
	height: 380px;
	padding: 2px !important;
	margin-left: 0px!important;
	background-color: gray;
}

#seatstable{

	margin-right: 2px;
	
}
#custSpecsContainer{

	height: 380px;
	width: 320px;

}*/



