#bus_seats_layout{   
height:250px;   
width:560px;
padding: 2px !important; 
background-color:gray;

/*background-image: url("img_background.png");
border:3px solid #A4A4A4;
/*margin-left:10px;*/  
}
#place {
position:relative;
margin:7px;
}
#place a{
font-size:0.9em;
font-color: white;

}
#place li
{
 list-style: none outside none;
 position: absolute;  
}   
#place li:hover
{
background-color:yellow;     
}
#place .seat{
background:url("images/seatsLayout/seat_available.png") no-repeat scroll 0 0 transparent;
height:35px;
width:35px;
display:block;  
}
#place .selectedSeat
{
background-image:url("images/seatsLayout/seat_available.png");         
}
#place .selectingSeat
{
background-image:url("images/seatsLayout/seat_booked.png");       
}
#place .row-3, #place .row-4{
margin-top:10px;
}
#seatDescription li{
verticle-align:middle;   
list-style: none outside none;
padding-left:35px;
height:35px;
float:left;
}

#btnShow{

	width: 160px;
}
#btnShowNew{

	width: 160px;
}
